*{
    padding: 0;
    margin: 0;

}
.main{
    width: 90%;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}
.main img{
    width: 100%;
    height: 100vh;

}
.pagetext {
    width:100%;
    height: 50%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.pagetext p{
    font-size:600%;

}
.pagetext button{
    width: 50%;
    height: 10vh;
    background: #000;
    color: white;
    font-family:'Broadmen', sans-serif;
    font-size: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2rem;
    cursor: pointer;
    transition: 0.2s background ease-in;
}
.pagetext button:hover{
    background-color: white;
    background: 1px solid black;
    transition: 0.2s background ease-in;
    -webkit-transition: 0.2s background ease-in;
    -moz-transition: 0.2s background ease-in;
    -ms-transition: 0.2s background ease-in;
    -o-transition: 0.2s background ease-in;
}
