.container {
    display: flex;
    gap: 10px; 
    flex-wrap: wrap;
    
    justify-content: flex-end;
 
}



@media screen and (width<= 500px) {
    .body{
       
        width: 100%;
    }
    .container{
        padding: 0%;
        margin-left: -7rem;
    }
    
   
    
}